/* FUENTE PRINCIPAL CUTE */
body {
  background: #ffeef8;
  font-family: "Fredoka One", sans-serif;
}

/* NAVBAR */
.navbar {
  background-color: #ff9ac9;
}

/* ENCABEZADOS */
h1,
h2,
h3 {
  color: #ff62b0;
}

/* BOTÓN CUTE */
.btn-cute {
  background-color: #ff84d8;
  border: none;
  padding: 12px 30px;
  color: white;
  border-radius: 25px;
  font-size: 1.2rem;
  transition: 0.3s;
  box-shadow: 0px 4px 10px rgba(255, 134, 207, 0.5);
}

.btn-cute:hover {
  background-color: #ff6ac4;
  transform: scale(1.05);
}

/* CARDS */
.card {
  background-color: #fff1fa;
  border: 2px solid #ffb6e6;
  border-radius: 20px;
  padding: 15px;
  transition: 0.2s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
}

/* FOOTER */
footer {
  background-color: #ff9ac9;
  padding: 20px;
  color: white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

/* EMOJIS GRANDES */
.emoji-big {
  font-size: 3rem;
}